
/* ********************
 * Resets and standardization
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-bottom: 1.5em;
    padding-left: 20px;
}

ol, ul {
    margin-left: 20px;
}

body, input {
    color: #504B40;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    line-height: 1.15em;
    margin-top: 0;
    margin-bottom: 10px;
}

h1 { font-size: 40px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

p, ol, ul {
    line-height: 1.5em;
}

strong {
    font-weight: 600;
}

footer {
    font-size: 12px;
}


/* ********************
 * Default link and button styles
 */

a, button:not([disabled]) {
    cursor: pointer;
}

a {
    color: #B98100;
    font-weight: 400;
    text-decoration: none;
}

a, a:hover, a:active, a:focus, a:visited {
    transition: color 0.1s;
}

a:hover, a:active, a:focus {
    color: #005D8F;
}

button,
button:hover,
button:focus,
button:active,
button.note-btn,
button.note-btn.focus,
button.note-btn.active,
button.note-btn:hover,
button.note-btn:focus,
button.note-btn:active {
    border: 0;
    color: white;
    transition: background-color 0.1s, scale 0.05s;
}

button, button.note-btn {
    background-color: #BFBBB4;
    border: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

button[disabled] {
    background-color: #DAD7D3;
}

button:not(.note-btn) {
    font-weight: 600;
    margin: 0 10px;
    padding: 10px 20px;
}

button:not([disabled]):active {
    transform: scale(0.95);
}

button.note-btn {
    font-size: 12px;
}

button.note-btn:not([disabled]):active {
    transform: scale(0.9);
}

button:not([disabled]):active,
button:not([disabled]):focus,
button:not([disabled]):hover,
button.note-btn.active,
button.note-btn.focus,
button.note-btn:active,
button.note-btn:focus,
button.note-btn:hover {
    background-color: #958E81;
}

post-status {
    color: white;
}

post-status, post-status:hover {
    transition: transform 0.1s;
}

post-status:hover {
    transform: scale(1.2);
}

post-status::before {
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    padding: 5px 0;
    text-align: center;
    width: 50px;
}

post-status[type="unlisted"]::before {
    background-color: #958E81;
    content: "unlisted";
}

post-status[type="published"]::before {
    background-color: #F0A200;
    content: "public";
}


/* ********************
 * Layout
 */

html {
    background: white;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 50em) {
    body {
        flex-direction: row-reverse;
        height: 100%;
    }
}

main {
    background: white;
    box-shadow: 0 0 20px 5px #999;
    display: flex;
    flex: 4;
    flex-direction: column;
    overflow: scroll;
    padding: 20px;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 70em) {
    main {
        flex: 3;
        padding: 45px 65px;
    }
}

main-nav {
    background-image: url('/public/images/hive-gs-rot.svg');
    background-size: cover;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
}

main-nav footer {
    display: none;
}

@media screen and (min-width: 70em) {
    main-nav {
        flex: 1;
    }
}

@media screen and (min-width: 50em) {
    main-nav footer {
        display: block;
    }
}

main-nav > header summary {
    font-size: 14px;
    padding: 10px;
}

bio {
    align-items: center;
    display: flex;
}

bio > snapshot {
    padding: 5px;
}

bio > snapshot img {
    align-self: flex-start;
    border-radius: 50%;
    max-width: 25vw;
}

@media screen and (min-width: 50em) {
    bio {
        display: block;
    }
    bio > snapshot {
        align-items: center;
        display: flex;
        padding: 15px 5px;
    }

    bio > snapshot img {
        max-height: 20vh;
    }
}

bio > snapshot dl {
    display: none;
}

@media screen and (min-width: 50em) {
    bio > summary small-display {
        display: none;
    }

    bio > snapshot dl {
        display: block;
    }
}

bio > snapshot dl {
    padding: 0px 5px 0 10px;
}

bio > snapshot > dl dt {
    font-size: 16px;
    font-weight: 600;
}

bio > snapshot > dl div:not(:last-child) {
    margin-bottom: 10px;
}

bio > snapshot > dl dd {
    font-size: 12px;
}

bio > snapshot > dl dd a {
    overflow: hidden;
    white-space: nowrap;
}

bio > snapshot > dl dd a,
bio > snapshot > dl dd a:visited {
    color: #504B40;
}

bio > snapshot > dl dd a:hover {
    color: #005D8F;
}

bio > snapshot dd a img {
    margin-right: 0.25em;
    transform: translatey(-1px);
    vertical-align: middle;
    width: 1em;
}

main-nav > section {
    flex: 1;
}

media-links {
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
    transition: transform 0.05s;
}

media-links a:hover {
    transform: scale(1.1);
    transition: transform 0.05s;
}

media-links img {
    background: white;
    border-radius: 50%;
    width: 32px;
}

main-nav > footer {
    margin: 0;
    padding: 15px 25px;
    background: white;
}

logotype a,
logotype a:active,
logotype a:focus,
logotype a:hover,
logotype a:visited {
    border: 0;
    color: white;
    display: block;
}

logotype a {
    background-image: url('/public/images/header-bee-gold.jpg');
    background-position: right;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    padding: 0px 10px 10px 20px;
    z-index: 1;
}

logotype img#Logo {
    height: 1.2em;
    transform: rotate(5deg) translate(2px, 10px);
}

ul#AdminLinks {
    background: rgba(88, 86, 80, .75);
    box-shadow: inset 0 -50px 50px 0 #585650;
    list-style-type: none;
    margin: 0;
    padding: 15px 15px 15px 30px;
}


/* ********************
 * PAGE: Home
 */

main#Home preview {
    display: flex;
    flex-direction: column;
}

#PrimaryPost {
    margin-bottom: 40px;
    padding-bottom: 20px;
}

#SecondaryPosts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 70em) {
    #SecondaryPosts {
        flex-direction: row;
    }
}

#NoContent {
}

a.post-link {
    border: 0;
    color: #504B40;
    display: inline-block;
    transition: color 0.1s, transform 0.05s;
    width: 100%;
}

a.post-link:hover {
    color: #B98100;
    transform: scale(1.02);
    transition: color 0.1s, transform 0.1s;
}

.primary.post-link {
    box-shadow: 0px 15px 20px -10px #999;
}

@media screen and (min-width: 70em) {
    .secondary.post-link {
        width: 30%;
    }
}

preview[type="primary"] footer {
    padding: 15px;
}

preview[type="secondary"] footer {
    padding: 10px 0;
}

@media screen and (min-width: 70em) {
    preview[type="primary"] h1,
    preview[type="secondary"] h2 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

preview[type="primary"] h1 {
    font-size: 28px;
}

preview[type="secondary"] h2 {
    font-size: 20px;
}

preview img {
    width: 100%;
}

preview[type="primary"] img {
    height: 35vh;
    object-fit: cover;
}

preview[type="secondary"] img {
    height: 20vh;
    object-fit: cover;
}

/* ********************
 * PAGE: Post view
 */

main#Post {
    overflow-x: hidden;
}

main#Post post-meta {
    box-shadow: 0 7px 15px -12px gray;
    color: #5F584F;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 0 10px 10px;
}

post-controls {
    border-bottom: 1px solid #585650;
    color: #BFBBB4;
    display: flex;
    height: 65px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
}

post-controls post-status::before {
    box-shadow: 0 0 10px 0 #958E81;
    margin-right: 20px;
}

a.icon-link {
    border: 0;
    color: white;
    font-size: 14px;
}

a.icon-link .icon {
    background-color: #FFF;
    padding: 2px;
    width: 1.05em;
}

a.icon-link:hover {
    border: 0;
    color: #F0A200;
}

post-controls post-changes a:not(:last-child) {
    margin-right: 20px;
}


/* ********************
 * PAGE: Post form
 */

main#PostForm {
    padding: 20px 65px;
}

#editor-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 5px;
}

#editor-form fieldset {
    border: 1px solid #BFBBB4;
    height: 105px;
    overflow: auto;
}

#editor-form legend {
    margin-left: 10px;
    padding: 0 5px;
}

#post-images {
    padding: 15px 15px 0 15px;
}

#post-images-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#post-images .post-image {
    border: 3px solid transparent;
    box-sizing: content-box;
    cursor: pointer;
    height: 35px;
    margin: 0px 20px 20px 0;
    transition: transform 0.1s;
    width: 35px;
}

#post-images .post-image.is-preview {
    border-color: #fff;
    box-shadow: 0px 0px 5px 0px #999;
    transform: scale(1.3);
    transition: transform 0.1s;
}

#post-images img:hover,
#post-images img:focus {
    transform: scale(1.2);
    transition: transform 0.1s;
}

#PostForm #form-meta {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

#PostForm #save-status-text {
    font-style: italic;
    margin: 0;
    margin-right: 10px;
}

/* The loading spinner with keyframes */

#save-status .spinner {
    animation: rotator 1.4s linear infinite;
    display: none;
    margin-right: 5px;
    vertical-align: middle;
}

@keyframes rotator {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

.spinner-path {
    /* These are accessible on the keyframes as well */
    --dasharray: 185;
    --duration: 1.4s;
}

.spinner-path {
    stroke-dasharray: var(--dasharray);
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
        dash var(--duration) ease-in-out infinite,
        colors calc(var(--duration) * 4) ease-in-out infinite;
}

@keyframes colors {
      0% { stroke: #4285F4; }
     25% { stroke: #DE3E35; }
     50% { stroke: #F7C223; }
     75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
}

@keyframes dash {
      0% {
        stroke-dashoffset: var(--dasharray);
    }
     50% {
        stroke-dashoffset: 45;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: var(--dasharray);
        transform:rotate(450deg);
    }
}

/* The form fields */

input {
    line-height: 1.25em;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 15px;
}

input, .note-editable {
    border: 1px solid #BFBBB4;
    border-radius: 0;
    transition: border-color .2s;
}

.note-editable {
    border-top: 0;
}

input:focus, input:active,
.note-editable:focus, .note-editable:active {
    border-color: #005D8F;
    transition: border-color .2s;
}

#post-title {
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    line-height: 1.25em;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px 15px;
}


#editor-form textarea {
    /*border: 0;*/
}

#editor-form .note-editor.note-frame {
    border: 0;
    border-radius: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 10px;
    overflow: auto;
}

#editor-form .note-toolbar {
    background-color: #E3E0DB;
    border: 1px solid #BFBBB4;
}

#editor-form .note-dropdown-menu {
    background: #E3E0DB;
}

.note-dropdown-menu .note-btn-group:not(:last-child) {
    margin-bottom: 6px;
}

.note-editor .note-editing-area {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.note-editor .note-editing-area .note-editable {
    flex: 1;
}

#editor-form .note-editor.note-frame .note-statusbar {
    border: 0;
}

.note-statusbar .note-resizebar {
    display: none;
}

.note-modal-footer {
    box-sizing: content-box;
}

.note-float-left {
    margin-right: 10px;
}

.note-float-right {
    margin-left: 10px;
}


/* ********************
 * PAGE: Auth
 */

main#Auth {
    align-items: center;
    justify-content: center;
}

main#Auth > form {
    align-items: center;
    background-color: #E3E0DB;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

main#Auth > form input {
    font-size: 20px;
    margin-bottom: 40px;
}

box-cursor {
    border: 3px solid #BFBBB4;
    display: inline-block;
    height: 1em;
    vertical-align: sub;
    width: 0.5em;
    /*-webkit-animation: cursor-blink 1s infinite;  [> Safari 4+ <]*/
    /*-moz-animation: cursor-blink 1s infinite;  [> Fx 5+ <]*/
    /*-o-animation: cursor-blink 1s infinite;  [> Opera 12+ <]*/
    animation: cursor-blink 1.5s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes cursor-blink {
  0%, 49% {
    border-color: #BFBBB4;
  }
  50%, 100% {
    border-color: #E3E0DB;
  }
}


/* ********************
 * PAGE: Admin Posts
 */

main#AdminPosts .posts-list {
    list-style-type: none;
}

admin-post-item {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

a.admin-post-title {
    /*color: #504B40;*/
}

admin-post-item h2 {
    flex: 1;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

admin-post-item > post-status,
admin-post-item > a:not(:last-child) {
    margin-right: 20px;
}

admin-post-item > a {
    font-size: 10px;
}


/* ********************
 * PAGE: Not Found
 */

main#NotFound {
    align-items: center;
    justify-content: center;
}

.not-found-header {
    color: #C7BDB2;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 30px;
    width: 250px;
}

.not-found-logo {
    height: 200px;
}
