@import 'styles/global.css';
@import 'styles/page.css';
@import 'styles/admin.css';

/* ********************
 * PAGE: Home
 */

main#Home preview {
    display: flex;
    flex-direction: column;
}

#PrimaryPost {
    margin-bottom: 40px;
    padding-bottom: 20px;
}

#SecondaryPosts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 70em) {
    #SecondaryPosts {
        flex-direction: row;
    }
}

.primary.post-link {
    box-shadow: 0px 15px 20px -10px #999;
}

@media screen and (min-width: 70em) {
    .secondary.post-link {
        width: 30%;
    }
}

preview[type="primary"] footer {
    padding: 15px;
}

preview[type="secondary"] footer {
    padding: 10px 0;
}

@media screen and (min-width: 70em) {
    preview[type="primary"] h1,
    preview[type="secondary"] h2 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

preview[type="primary"] h1 {
    font-size: 28px;
}

preview[type="secondary"] h2 {
    font-size: 20px;
}

preview img {
    width: 100%;
}

preview[type="primary"] img {
    height: 35vh;
    object-fit: cover;
}

preview[type="secondary"] img {
    height: 20vh;
    object-fit: cover;
}

/* ********************
 * PAGE: Post view
 */

main#Post {
    overflow-x: hidden;
}

main#Post post-meta {
    box-shadow: 0 7px 15px -11px var(--color-gray-mid);
    color: var(--color-text-light);
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 0 10px 10px;
}


/* ********************
 * PAGE: Auth
 */

main#Auth {
    align-items: center;
    justify-content: center;
}

main#Auth > form {
    align-items: center;
    background-color: var(--color-gray-light);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

box-cursor {
    border: 3px solid var(--color-gray-mid);
    display: inline-block;
    height: 1em;
    vertical-align: sub;
    width: 0.5em;
    /*-webkit-animation: cursor-blink 1s infinite;  [> Safari 4+ <]*/
    /*-moz-animation: cursor-blink 1s infinite;  [> Fx 5+ <]*/
    /*-o-animation: cursor-blink 1s infinite;  [> Opera 12+ <]*/
    animation: cursor-blink 1.5s infinite;  /* IE 10+, Fx 29+ */
}

@keyframes cursor-blink {
  0%, 49% {
    border-color: var(--color-gray-mid);
  }
  50%, 100% {
    border-color: var(--color-gray-light);
  }
}


/* ********************
 * PAGE: Not Found
 */

main#NotFound {
    align-items: center;
    justify-content: center;
}

.not-found-header {
    color: var(--color-gray-mid);
    font-family: 'Dancing Script', cursive;
    margin-bottom: 30px;
}

.not-found-logo {
    height: 200px;
