#bio {
    align-items: center;
    display: flex;
    font-size: 14px;
    padding: 10px;
}

#bio img {
    max-width: 40vw;
}

@media screen and (min-width: 50em) {
    #bio {
        display: block;
    }

    #bio img {
        width: 100%;
    }
}
