/*
 * Styles for page template elements
 */
@import 'page/main-nav.css';
@import 'page/admin-nav.css';
@import 'page/bio.css';

body {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 50em) {
    body {
        flex-direction: row-reverse;
        height: 100%;
    }
}

main {
    background: white;
    box-shadow: 0 0 20px 5px #999;
    display: flex;
    flex: 4;
    flex-direction: column;
    overflow: scroll;
    padding: 20px;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 70em) {
    main {
        flex: 3;
        padding: 45px 65px;
    }
}

#mediaLinks {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 10px 30px;
    transition: transform 0.05s;
}

#mediaLinks li:hover {
    transition: transform 0.05s;
}

#mediaLinks li:hover {
    transform: scale(1.2);
    transition: transform 0.05s;
}

#mediaLinks img {
    background: white;
    border-radius: 50%;
    width: 32px;
}

#logotype a,
#logotype a:active,
#logotype a:focus,
#logotype a:hover,
#logotype a:visited {
    border: 0;
    color: white;
    display: block;
}

#logotype a {
    background-image: url('/public/images/header-bee-gold.jpg');
    background-position: right;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    padding: 0px 10px 10px 20px;
    z-index: 1;
}

#logotype img {
    height: 1.2em;
    transform: rotate(5deg) translate(2px, 10px);
}
